<!DOCTYPE html>
 <html>
 
 <head>
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
 
     <title>Spotify Album Poster Generator</title>
 
     <!-- Bootstrap CSS CDN -->
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
         integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
         integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
 
     <!-- Our Custom CSS -->
     <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='home.css') }}">

     <!-- Scrollbar Custom CSS -->
     <link rel="stylesheet"
         href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     <!-- Font Awesome JS -->
     <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"
         integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ"
         crossorigin="anonymous"></script>
     <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"
         integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY"
         crossorigin="anonymous"></script>
    <!-- <script
         src="indexNoFirebase.js"
         type="module"
    ></script> -->
    <script src="{{ url_for('static', filename='index.js')}}"></script>
 
 </head>
 
 <body>
     <div class="wrapper">

        {% include 'navbar.html' %}

        
        <div class="text-center" id="content">
            <div class="text-center">
                <h2>Spotify Album Poster Generator</h2>
            </div>
            <br>
            <script>
                function enableLoader() {
                    document.getElementById("loader").style.display = "block";
                }
            </script>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% if messages[0].__contains__('GREEN') %}
                    <div style="color: green;">
                        {{ messages[0].replace("GREEN", "") }}
                    </div>
                {% elif messages[0].__contains__('RED') %}
                    <div style="color: red;">
                        {{ messages[0].replace("RED", "") }}
                    </div>
                {% else %}
                    <div>
                        {{ messages[0] }}
                    </div>
                {% endif %}
            {% endif %}
            {% endwith %}
            <form action="{{ url_for('urlSubmit') }}" method="post" enctype="multipart/form-data"
                class="text-left" id="genForm" onsubmit="enableLoader()">
                <div class="row">
                    <div class="col-md-6">
                        <label for="url"><h4>Spotify Album/Playlist URL</h4></label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        {% if lastAlbum %}
                            <input type="text" id="url" name="SpotifyUrl" class="form-control"
                                value="{{ lastAlbum }}" required>
                        {% else %}
                            <input type="text" id="url" name="SpotifyUrl" class="form-control" required>
                        {% endif %}
                    </div>
                    <div class="col-md-3">
                        <label for="fullTitle">Include Full Album Title</label>
                        {% if defaultParams['includeFullTitle'] %}
                            <input type="checkbox" id="fullTitle" name="includeFullTitle" checked>
                        {% else %}
                            <input type="checkbox" id="fullTitle" name="includeFullTitle">
                        {% endif %}
                    </div>
                    {% if defaultParams %}
                    <div class="col-md-3">
                        
                            <script>
                                console.log("restoring defaults");
                                function restoreDefaults() {
                                    if ({{ dp['includeFullTitle'] }}) {
                                        document.getElementById("fullTitle").checked = true;
                                    } else { document.getElementById("fullTitle").checked = false;}
                                    document.getElementById('2').value = "{{ dp['coverDim'] }}";
                                    document.getElementById('3').value = "{{ dp['codeDim'] }}";
                                    document.getElementById('1').value = "{{ dp['sCodePos'] }}";
                                    document.getElementById('5').value = "{{ dp['artistSize'] }}";
                                    document.getElementById('6').value = "{{ dp['titleSize'] }}";
                                    document.getElementById('4').value = "{{ dp['cornerTextSize'] }}";
                                    document.getElementById('9').value = "{{ dp['maxArtistsLength'] }}";
                                    document.getElementById('10').value = "{{ dp['maxTitleLength'] }}";
                                    document.getElementById('8').value = "{{ dp['maxLabelLength'] }}";
                                    document.getElementById('7').value = "{{ dp['trackSize'] }}";
                                    document.getElementById('11').value = "{{ dp['maxTrackLineWidth'] }}";
                                    document.getElementById('12').value = "{{ dp['trackLineSpace'] }}";
                                    document.getElementById('13').value = "{{ dp['maxTracks'] }}";
                                    
                                }
                            </script>
                            <button class="btn btn-primary" onclick="restoreDefaults()"><label for="">Restore Default Parameters</label></button>
                    </div>
                    {% endif %}
                </div>
                <br>
                <div class="row">
                    <div class="col-md-3">
                        <h5>Images Options</h5>
                        <label for="2">Album Cover Dimension</label>
                        <input type="number" id="2" name="coverDim" class="form-control"
                            value="{{ defaultParams['coverDim'] }}">
                        <br>
                        <label for="3">Spotify Code Dimension (width)</label>
                        <input type="number" id="3" name="codeDim" class="form-control"
                            value="{{ defaultParams['codeDim'] }}">
                        <br>
                        <label for="1">Spotify Code Position (y)</label>
                        <input type="number" id="1" name="sCodePos" class="form-control"
                            value="{{ defaultParams['sCodePos'] }}">
                        <br>
                    </div>
                    <div class="col-md-3">
                        <h5>Text Sizes</h5>
                        <label for="5">Artist Text Size</label>
                        <input type="number" id="5" name="artistSize" class="form-control"
                            value="{{ defaultParams['artistSize'] }}">
                        <br>
                        <label for="6">Title Text Size</label>
                        <input type="number" id="6" name="titleSize" class="form-control"
                            value="{{ defaultParams['titleSize'] }}">
                        <br>
                        <label for="4">Corner Text Size</label>
                        <input type="number" id="4" name="cornerTextSize" class="form-control"
                            value="{{ defaultParams['cornerTextSize'] }}">
                        <br>
                    </div>
                    <div class="col-md-3">
                        <h5>Artist, Title, Labels Properties</h5>
                        <label for="9">Artists Text Max Linewidth</label>
                        <input type="number" id="9" name="maxArtistsLength" class="form-control"
                            value="{{ defaultParams['maxArtistsLength'] }}">
                        <br>
                        <label for="10">Title Text Max Linewidth</label>
                        <input type="number" id="10" name="maxTitleLength" class="form-control"
                            value="{{ defaultParams['maxTitleLength'] }}">
                        <br>
                        <label for="8">Producer Labels Max Linewidth</label>
                        <input type="number" id="8" name="maxLabelLength" class="form-control"
                            value="{{ defaultParams['maxLabelLength'] }}">
                        <br>
                    </div>
                    <div class="col-md-3">
                        <h5>Track Text Properties</h5>
                        <label for="7">Track Text Size</label>
                        <input type="number" id="7" name="trackSize" class="form-control"
                            value="{{ defaultParams['trackSize'] }}">
                        <br>
                        <label for="11">Track Text Max Linewidth</label>
                        <input type="number" id="11" name="maxTrackLineWidth" class="form-control"
                            value="{{ defaultParams['maxTrackLineWidth'] }}">
                        <br>
                        <label for="12">Track Text Line Spacing</label>
                        <input type="number" id="12" name="trackLineSpace" class="form-control"
                            value="{{ defaultParams['trackLineSpace'] }}">
                        <br>
                        <label for="13">Maximum Number of Tracks</label>
                        <input type="number" id="13" name="maxTracks" class="form-control"
                            value="{{ defaultParams['maxTracks'] }}">
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-1 text-left">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                    <div class="col-md-3 text-left">
                        <div class="loader" id="loader" style="display: none;"></div>
                    </div>
                </div>
            </form>

            <br>
            <br>
            {% if posterPath %}
                <div class="text-center">
                    <img src="{{ url_for('static', filename = posterPath) }}" style="border: 5px solid black; max-width: 100%;">
                </div>
            {% endif %}
        </div>

     </div>
 
     
 
     <!-- jQuery CDN - Slim version (=without AJAX) -->
     <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
         integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
         crossorigin="anonymous"></script>
     <!-- Popper.JS -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
         integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
         crossorigin="anonymous"></script>
     <!-- Bootstrap JS -->
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
         integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
         crossorigin="anonymous"></script>
     <!-- jQuery Custom Scroller CDN -->
     <script
         src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

 </body>
 
 </html>