<!DOCTYPE html>
 <html>
 
 <head>
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
 
     <title>FORCE Technology Data Portal</title>
 
     <!-- Bootstrap CSS CDN -->
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
         integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
         integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
 
     <!-- Our Custom CSS -->
     <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='home.css') }}">

     <!-- Scrollbar Custom CSS -->
     <link rel="stylesheet"
         href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     <!-- Font Awesome JS -->
     <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"
         integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ"
         crossorigin="anonymous"></script>
     <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"
         integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY"
         crossorigin="anonymous"></script>
    <!-- <script
         src="indexNoFirebase.js"
         type="module"
    ></script> -->
    <script src="{{ url_for('static', filename='index.js')}}"></script>
 
 </head>
 
 <body>
     <div class="wrapper">
         <!-- Sidebar  -->
         {% if not request.MOBILE %}
         <nav id="sidebar">
             <div class="sidebar-header">
                 <h3>FORCE Technology Data Portal</h3>
             </div>
 
             <ul class="list-unstyled components">
                {% if current_user.is_authenticated and current_user.utype == "Admin" or current_user.utype == "Employee" %}
                <li>
                    <a href="{{url_for('index')}}">Task Updates</a>
                </li>
                {% endif %}
                 {% if not current_user.is_authenticated %}
                 <li>
                    <a href="{{ url_for('login') }}">Login</a>
                 </li>
                 <li>
                    <a href="{{ url_for('signup') }}">Signup</a>
                 </li>
                 {% endif %}
                 {% if current_user.is_authenticated %}
                 <li>
                    <a href="{{ url_for('logout') }}">Logout</a>
                 </li>
                 {% endif %}
             </ul>

             <div class="footer-on-the-bottom">
                <footer class='footer fixed-bottom' style='padding-bottom: 10px;'>
                    <div style="margin-left: 60px; width: 185px;align-content: center;">
                       {% if not current_user.is_authenticated %} 
                       <span style="text-align: center;" id="sign-in-state">Signed Out</span>
                       {% else %}
                       <span style="text-align: center;" id="sign-in-state">Signed In</span>
                       {% endif %}
                    </div>
                </footer>
            </div>
 
         </nav>
         {% endif %}
         <div id="content" class = "text-center">
            {% if request.MOBILE %}
                <div class="row" id = "mobile-login-logout">
                    <div class="col text-center">
                        <a class="" data-toggle="modal" data-target="#loginModal" href="#">
                            LOGIN
                        </a>
                    </div>
                    <div class="col text-center">
                        <a class="" id="logout-btn" href="#">LOGOUT</a>
                    </div>
                </div>
            {% endif %}
             <div class="text-center">
                 <h1>FORCE Technology Task Data Portal</h1>
             </div>
             <br>

             {% with messages = get_flashed_messages() %}
             {% if messages %}
                 {% if messages[0].__contains__('GREEN') %}
                     <div style="color: green;">
                         {{ messages[0].replace("GREEN", "") }}
                     </div>
                 {% elif messages[0].__contains__('RED') %}
                     <div style="color: red;">
                         {{ messages[0].replace("RED", "") }}
                     </div>
                 {% endif %}
             {% endif %}
             {% endwith %}
            {% if not request.MOBILE %}
            <br>
             <div id="optional-input">
                <form action="{{url_for('index')}}" method="POST" enctype="multipart/form-data" id="taskNumberForm">
                    <div class="row">
                        <div class="col-md-5 text-left">
                            <label for="taskno">Select Task Number Here</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <select id = "taskno" class = "form-control" name="taskNumber">
                                {% for task in tasks %}
                                    <option value="{{ task }}">{{ task }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-2 text-left">
                            <button class="btn btn-primary" id = "submit" type="submit">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
            {% endif %}
            {% if not request.MOBILE %}
            <br>
            <div id="allData" class = "text-center">
                <div id="auxiliaryheader">
                    <h5 id = "aux"></h5>
                </div>
                <div class="row" id = "theader">
                    <div class="col-md-4">
                        <h5>Task Number</h5>
                    </div>
                    <div class="col-md-4">
                        <h5>Reference Number</h5>
                    </div>
                    <div class="col-md-4">
                        <h5>Client Email</h5>
                    </div>
                </div>
                {% if data %}
                    <div class="row" id = "theaderinfo">
                        <div class="col-md-4">
                            <p id="task">{{data.task}}</p>
                        </div>
                        <div class="col-md-4">
                            <p id="refno">{{data.refno}}</p>
                        </div>
                        <div class="col-md-4">
                            <p id="clientEmail">{{data.clientEmail}}</p>
                        </div>
                    </div>
                    <br>
                    <div class="row" id = "theader2">
                        <div class="col-md-4">
                            <h5>Prepared By</h5>
                        </div>
                        <div class="col-md-4">
                            <h5>Subject Count</h5>
                        </div>
                        <div class="col-md-4">
                            <h5>NDT</h5>
                        </div>
                    </div>
                    <div class="row" id = "theader2info">
                        <div class="col-md-4">
                            <p id="order">{{data.order}}</p>
                        </div>
                        <div class="col-md-4">
                            <p id="antalemner">{{data.antalemner}}</p>
                        </div>
                        <div class="col-md-4">
                            <p id="ndt">{{data.ndt}}</p>
                        </div>
                    </div>
                {% else %}
                    <div class="row" id = "theaderinfo">
                        <div class="col-md-4">
                            <p id="task"></p>
                        </div>
                        <div class="col-md-4">
                            <p id="refno"></p>
                        </div>
                        <div class="col-md-4">
                            <p id="clientEmail"></p>
                        </div>
                    </div>
                    <br>
                    <div class="row" id = "theader2">
                        <div class="col-md-4">
                            <h5>Prepared By</h5>
                        </div>
                        <div class="col-md-4">
                            <h5>Subject Count</h5>
                        </div>
                        <div class="col-md-4">
                            <h5>NDT</h5>
                        </div>
                    </div>
                    <div class="row" id = "theader2info">
                        <div class="col-md-4">
                            <p id="order"></p>
                        </div>
                        <div class="col-md-4">
                            <p id="antalemner"></p>
                        </div>
                        <div class="col-md-4">
                            <p id="ndt"></p>
                        </div>
                    </div>
                {% endif %}
            </div>
            {% endif %}
            <div id="accordion">
                <div class="card">
                    <div class="card-header" id="headingOne"  style="text-align: left">
                        
                        <h5 class="mb-0">
                            <button class="btn" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-expand" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M3.646 9.146a.5.5 0 0 1 .708 0L8 12.793l3.646-3.647a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 0-.708zm0-2.292a.5.5 0 0 0 .708 0L8 3.207l3.646 3.647a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 0 0 0 .708z"/>
                                </svg>
                                Workshop Progress
                            </button>
                        </h5>
                    </div>
                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            <form action="{{ url_for('index') }}" method="POST" enctype="multipart/form-data">
                            <div id="tensileTable"> 
                                <table class = "table table-hover" id = "tensile">
                                    <thead>
                                        <tr>
                                            <th colspan = "3" style="text-align: left">
                                                <h5>Tensile Testing</h5>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr id = "tensileStatus">
                                            <td id="cut" colspan = "1">
                                                <b>Skæret: </b>
                                                {% if workshopProgress and workshopProgress.Tensile.Cut %}
                                                <input type="checkbox" name="tc" checked>
                                                {% else %}
                                                <input type="checkbox" name="tc">
                                                {% endif %}
                                            </td>
                                            <td id="machined" colspan = "1">
                                                <b>Bearbejdet: </b>
                                                {% if workshopProgress and workshopProgress.Tensile.Machined %}
                                                <input type="checkbox" name="tm" checked>
                                                {% else %}
                                                <input type="checkbox" name="tm">
                                                {% endif %}
                                            </td>
                                            <td id="ready" colspan = "1">
                                                <b>Klar til Test: </b>
                                                {% if workshopProgress and workshopProgress.Tensile.Ready %}
                                                <input type="checkbox" name="tr" checked>
                                                {% else %}
                                                <input type="checkbox" name="tr">
                                                {% endif %}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div id="bendTable">
                                <table class="table table-hover" id="bend">
                                    <thead>
                                        <tr>
                                            <th colspan = "3" style="text-align: left">
                                                <h5>Bend Testing</h5>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr id = "bendStatus">
                                            <td id="cut" colspan = "1">
                                                <b>Skæret: </b>
                                                {% if workshopProgress and workshopProgress.Bend.Cut %}
                                                <input type="checkbox" name="bc" checked>
                                                {% else %}
                                                <input type="checkbox" name="bc">
                                                {% endif %}
                                            </td>
                                            <td id="machined" colspan = "1">
                                                <b>Bearbejdet: </b>
                                                {% if workshopProgress and workshopProgress.Bend.Machined %}
                                                <input type="checkbox" checked name="bm">
                                                {% else %}
                                                <input type="checkbox" name="bm">
                                                {% endif %}
                                            </td>
                                            <td id="ready" colspan = "1">
                                                <b>Klar til Test: </b>
                                                {% if workshopProgress and workshopProgress.Bend.Ready %}
                                                <input type="checkbox" name="br" checked>
                                                {% else %}
                                                <input type="checkbox" name="br">
                                                {% endif %}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div id="impactTable">
                                <table class="table table-hover" id="impact">
                                    <thead>
                                        <tr>
                                            <th colspan = "3" style="text-align: left">
                                                <h5>Impact Testing</h5>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr id = "impactStatus">
                                            <td id="cut" colspan = "1">
                                                <b>Skæret: </b>
                                                {% if workshopProgress and workshopProgress.Impact.Cut %}
                                                <input type="checkbox" name="ic" checked>
                                                {% else %}
                                                <input type="checkbox" name="ic">
                                                {% endif %}
                                            </td>
                                            <td id="machined" colspan = "1">
                                                <b>Bearbejdet: </b>
                                                {% if workshopProgress and workshopProgress.Impact.Machined %}
                                                <input type="checkbox" name="im" checked>
                                                {% else %}
                                                <input type="checkbox" name="im">
                                                {% endif %}
                                            </td>
                                            <td id="ready" colspan = "1">
                                                <b>Klar til Test: </b>
                                                {% if workshopProgress and workshopProgress.Impact.Ready %}
                                                <input type="checkbox" name="ir" checked>
                                                {% else %}
                                                <input type="checkbox" name="ir">
                                                {% endif %}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div id="macroTable"> 
                                <table class="table table-hover" id="macro">
                                    <thead>
                                        <tr>
                                            <th colspan = "7" style="text-align: left">
                                                <h5>Macro Examination</h5>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr id = "macroStatus">
                                            <td id="cut" colspan = "1">
                                                <b>Skæret: </b>
                                                {% if workshopProgress and workshopProgress.Macro.Cut %}
                                                <input type="checkbox" name="mc" checked>
                                                {% else %}
                                                <input type="checkbox" name="mc">
                                                {% endif %}
                                            </td>
                                            <td id="machined" colspan = "1">
                                                <b>Bearbejdet: </b>
                                                {% if workshopProgress and workshopProgress.Macro.Machined %}
                                                <input type="checkbox" name="mm" checked>
                                                {% else %}
                                                <input type="checkbox" name="mm">
                                                {% endif %}
                                            </td>
                                            <td id="ready" colspan = "1">
                                                <b>Klar til Test: </b>
                                                {% if workshopProgress and workshopProgress.Macro.Ready %}
                                                <input type="checkbox" name="mr" checked>
                                                {% else %}
                                                <input type="checkbox" name="mr">
                                                {% endif %}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col">
                                    <button class = "btn btn-primary" type="submit">Save Updates</button>
                                </div>
                            </div>
                            </form>
                            <br>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTwo" style="text-align: left;">
                        <h5 class="mb-0">
                            <button class=" btn" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-expand" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M3.646 9.146a.5.5 0 0 1 .708 0L8 12.793l3.646-3.647a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 0-.708zm0-2.292a.5.5 0 0 0 .708 0L8 3.207l3.646 3.647a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 0 0 0 .708z"/>
                                </svg>
                                Input Comments
                            </button>
                        </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                        <!-- <br> -->
                        <form action="{{ url_for('index') }}" method="POST" enctype="multipart/form-data" id="commentForm">
                            <div id="general-input" style="margin: 20px">
                                <div class="row">
                                    <div class="col-4" style="text-align: left;">
                                        <label for="general-text">General Comments</label>
                                    </div>
                                    <div class="col-3">
                                        <label for="release">Release to Client</label>
                                        <input type="checkbox" id="release" name = "commentRelease" form="commentForm">
                                    </div>
                                    <div class="col-5" style="text-align: left;">
                                        <label for="img-upload">Upload Images</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-7">
                                        <textarea name="comment" id="general-text" rows="10" style="width: 100%" form="commentForm"></textarea>
                                    </div>
                                    <div class="col-5">
                                        <input type="file" id="img-upload" name="files[]" class="form-control" accept="image/jpeg, image/png" multiple/>
                                        <br>
                                        <div id="image-section">

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <input class = "btn btn-primary" id = "commentsave" type="submit"/>
                                </div>
                            </div>
                        </form>
                        <br>
                        {% if response != None and response == True %}
                        <h5 style="color: green;">Comment Submitted</h5>
                        {% elif response != None and response == False %}
                        <h5 style="color: red;">Comment Not Submitted</h5>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
     </div>
 
     
 
     <!-- jQuery CDN - Slim version (=without AJAX) -->
     <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
         integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
         crossorigin="anonymous"></script>
     <!-- Popper.JS -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
         integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
         crossorigin="anonymous"></script>
     <!-- Bootstrap JS -->
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
         integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
         crossorigin="anonymous"></script>
     <!-- jQuery Custom Scroller CDN -->
     <script
         src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

 </body>
 
 </html>