<!DOCTYPE html>
 <html>
 
 <head>
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
 
     <title>Spotify Album Poster Generator</title>
 
     <!-- Bootstrap CSS CDN -->
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
         integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
         integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
 
     <!-- Our Custom CSS -->
     <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='home.css') }}">

     <!-- Scrollbar Custom CSS -->
     <link rel="stylesheet"
         href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     <!-- Font Awesome JS -->
     <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"
         integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ"
         crossorigin="anonymous"></script>
     <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"
         integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY"
         crossorigin="anonymous"></script>
    <!-- <script
         src="indexNoFirebase.js"
         type="module"
    ></script> -->
    <script src="{{ url_for('static', filename='index.js')}}"></script>
    <!-- jQuery CDN -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" type="text/javascript"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    
    <script>
        $(document).ready(function() {
            $(window).keydown(function(event){
                if(event.keyCode == 13) {
                    event.preventDefault();
                    return false;
                }
            });
        });
    </script>

    <script>
        function JaroWrinker(s1, s2) {
            var m = 0;

            // Exit early if either are empty.
            if ( s1.length === 0 || s2.length === 0 ) {return 0;}

            // Exit early if they're an exact match.
            if ( s1 === s2 ) {return 1;}

            var range     = (Math.floor(Math.max(s1.length, s2.length) / 2)) - 1,
                s1Matches = new Array(s1.length),
                s2Matches = new Array(s2.length);

            for ( i = 0; i < s1.length; i++ ) {
                var low  = (i >= range) ? i - range : 0,
                    high = (i + range <= s2.length) ? (i + range) : (s2.length - 1);

                for ( j = low; j <= high; j++ ) {
                    if ( s1Matches[i] !== true && s2Matches[j] !== true && s1[i] === s2[j] ) {
                        ++m;
                        s1Matches[i] = s2Matches[j] = true;
                        break;
                    }
                }
            }

            // Exit early if no matches were found.
            if ( m === 0 ) {return 0;}

            // Count the transpositions.
            var k = n_trans = 0;

            for ( i = 0; i < s1.length; i++ ) {
                if ( s1Matches[i] === true ) {
                    for ( j = k; j < s2.length; j++ ) {
                        if ( s2Matches[j] === true ) {
                        k = j + 1;
                        break;
                        }
                    }

                    if ( s1[i] !== s2[j] ) {
                        ++n_trans;
                    }
                }
            }

            var weight = (m / s1.length + m / s2.length + (m - (n_trans / 2)) / m) / 3,
                l      = 0,
                p      = 0.1;

            if ( weight > 0.7 ) {
                while ( s1[l] === s2[l] && l < 4 ) {
                    ++l;
                }
                weight = weight + l * p * (1 - weight);
            }
            return weight;
        };
    </script>
    

 </head>
 
 <body>
     <div class="wrapper">

        {% include 'navbar.html' %}


        <div class="text-center" id="content">
            <div class="text-center">
                <h2>Spotify Album Poster Generator</h2>
            </div>
            <br>
            <script>
                function enableLoader() {
                    document.getElementById("loader").style.display = "block";
                }
                function clear(parent) {
                    while (parent.firstChild) {
                        parent.removeChild(parent.firstChild);
                    }
                }

                function remakePosters(newData) {
                    var images = document.getElementsByTagName('img');
                    var struct = {};
                    for (let j in images) {
                        if (images[j] != undefined && images[j].id != undefined && images[j].src != undefined) {
                            struct[String(images[j].id)] = images[j].src;
                        }
                    }
                    // console.log(struct);
                    clear(document.getElementById("posters"));
                    var numRows;
                    if (newData.length > 0) {numRows = Math.floor(newData.length / 4) + 1;}
                    else {numRows = 0;}
                    var numColumns = [];
                    var tracker = newData.length;
                    let i = 0;
                    while (i < numRows) {
                        if (i == numRows - 1) {numColumns.push(tracker); tracker = 0;}
                        else {numColumns.push(4); tracker = tracker - 4;}
                        i++;
                    }
                    // console.log("NumRows: ", numRows);
                    // console.log("NumColumns: ", numColumns);

                    var row = 0;
                    var posters = document.getElementById('posters');
                    while (row < numRows) {
                        var col = 0;
                        let rowDiv = document.createElement('div'); rowDiv.classList.add('row');
                        while (col < numColumns[row]) {
                            let colDiv = document.createElement('div'); colDiv.classList.add('col-md-3', 'text-center');
                            let h5 = document.createElement('h5'); h5.innerText = newData[4*row+col]['name']; colDiv.appendChild(h5);
                            let form = document.createElement('form'); form.method = 'post'; form.action = "{{ url_for('urlSubmit') }}";
                            form.enctype = "multipart/form-data"; form.id = newData[4*row+col]['file'].replace('.png','');
                            let urlInput = document.createElement('input'); urlInput.type = 'text'; urlInput.name = "SpotifyUrl"; urlInput.classList.add('form-control');
                            urlInput.value = 'https://open.spotify.com/album/'+newData[4*row+col]['file'].replace('.png','')+'?';
                            urlInput.style.display = "none"; urlInput.form = newData[4*row+col]['file'].replace('.png','');
                            form.appendChild(urlInput);
                            var inputs = ['coverDim', 'codeDim', 'cornerTextSize', 'artistSize', 'titleSize', 'trackSize', 'maxLabelLength',
                                'maxArtistsLength', 'maxTitleLength', 'maxTrackLineWidth', 'trackLineSpace', 'maxTracks', 'sCodePos'];
                            for (let k in inputs) {
                                let input = document.createElement('input'); input.type='number'; input.name = inputs[k];
                                input.classList.add('form-control'); input.value = newData[4*row + col]['params'][inputs[k]];
                                input.style.display = "none"; input.form = newData[4*row+col]['file'].replace('.png','');
                                form.appendChild(input);
                            }

                            // checkbox time
                            let checkbox = document.createElement('input'); checkbox.type = 'checkbox';
                            checkbox.name = "includeFullTitle"; checkbox.classList.add('form-control');
                            checkbox.style.display = 'none';
                            if (newData[4*row+col]['params']['includeFullTitle'] == 1) {
                                checkbox.checked = true;
                            } else {checkbox.checked = false;}
                            checkbox.form = newData[4*row+col]['file'].replace('.png','');
                            form.appendChild(checkbox);

                            // image time
                            let img = document.createElement('img'); img.style.width = '65%';
                            // console.log("Supposed initiation sequence for undefined call");
                            img.src = struct[newData[4*row + col]['file']];
                            img.id = newData[4*row + col]['file'];
                            // console.log("Finished line");
                            form.appendChild(img);
                            form.appendChild(document.createElement('br')); form.appendChild(document.createElement('br'));
                            let btn = document.createElement('button'); btn.classList.add('btn', 'btn-primary'); btn.type = "submit";
                            btn.innerText = "Go To Generator"; btn.form = newData[4*row+col]['file'].replace('.png',''); form.appendChild(btn);
                            colDiv.appendChild(form);
                            rowDiv.appendChild(colDiv);
                            col++;
                        }
                        posters.appendChild(rowDiv);
                        posters.appendChild(document.createElement('br')); posters.appendChild(document.createElement('br'));
                        row++;
                    }
                }

                function reorderAlbums() {
                    var data = JSON.parse('{{ allData | tojson }}');
                    var newData = [];
                    var similarities = [];
                    var searchString = document.getElementById("search").value;
                    // console.log(searchString);
                    for (let i in data) {       // album is an integer list index
                        let similarity = JaroWrinker(searchString, data[i]['name']);
                        let insertIndex = 0;
                        while (insertIndex < newData.length && similarity < similarities[insertIndex]) {
                            insertIndex++;
                        }
                        newData.splice(insertIndex, 0, data[i]);
                        similarities.splice(insertIndex, 0, similarity);
                    }
                    // console.log(newData);
                    // console.log(similarities);
                    
                    remakePosters(newData);
                }
                function reorderArtists() {
                    var data = JSON.parse('{{ allData | tojson }}');
                    var newData = [];
                    var similarities = [];
                    var searchString = document.getElementById("search2").value;
                    // console.log(searchString);
                    for (let i in data) {       // album is an integer list index
                        let similarity = JaroWrinker(searchString, data[i]['artist']);
                        let insertIndex = 0;
                        while (insertIndex < newData.length && similarity < similarities[insertIndex]) {
                            insertIndex++;
                        }
                        newData.splice(insertIndex, 0, data[i]);
                        similarities.splice(insertIndex, 0, similarity);
                    }
                    // console.log(newData);
                    // console.log(similarities);
                    
                    remakePosters(newData);
                }
            
                function sortDate() {
                    var data = JSON.parse('{{ allData | tojson }}');
                    var newData = [];
                    // console.log(searchString);
                    var icon = document.getElementById('sortingIcon');
                    var btn = document.getElementById("sort");
                    for (let i in data) {       // album is an integer list index
                        // let similarity = JaroWrinker(searchString, data[i]['artist']);
                        let insertIndex = 0;
                        clear(icon);
                        if (btn.sorting == 'true') {
                            while (insertIndex < newData.length && data[i]['lastModified'] < newData[insertIndex]['lastModified']) {
                                insertIndex++;
                            }
                        } else {
                            while (insertIndex < newData.length && data[i]['lastModified'] > newData[insertIndex]['lastModified']) {
                                insertIndex++;
                            }
                        }
                        newData.splice(insertIndex, 0, data[i]);
                    }
                    if (btn.sorting == 'true') {
                        icon.innerHTML = '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-circle" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z"/></svg>';
                        btn.sorting = 'false';
                        console.log('sorting according to true');
                    } else {
                        icon.innerHTML = '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-circle" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/></svg>';
                        btn.sorting = 'true';
                        console.log('sorting according to false');
                    }
                    console.log(newData);

                    remakePosters(newData);
                }
            
            </script>

            <!-- use jinja filters and pass one big array of json objects in from app.py to get this to work -->

            <div class="row">
                <div class="col-md-4 text-left">
                    <input type="text" id="search" placeholder="Album Name Search" class="form-control" onchange="reorderAlbums()"> 
                </div>
                <div class="col-md-4 text-left">
                    <input type="text" id="search2" placeholder="Artist Name Search" class="form-control" onchange="reorderArtists()">
                </div>
                <div class="col-md-4 text-right">
                    <button onclick="sortDate()" class="btn" id="sort" sorting = 'true'>
                        <p style="display: inline-block;">Last modified</p>
                        <div id="sortingIcon" style="display: inline-block;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-circle" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z"/>
                            </svg>
                        </div>
                    </button>
                </div>
            </div>
            <br>
            <div id="posters">
            {% if allData %}
                {% for i in range(numRows) %}
                <div class="row">
                    {% for j in range(numColumns[i]) %}
                    <div class="col-md-3 text-center">
                        <h5>{{ allData[4*i+j]['name'] }}</h5>
                        <form action="{{ url_for('urlSubmit') }}" method="post" enctype="multipart/form-data" id="234">
                            
                            <input type="text" id="url" name="SpotifyUrl" class="form-control"
                            value="{{ 'https://open.spotify.com/album/'+allData[4*i+j]['file'].replace('.png','')+'?' }}" style="display: none;" form="234">
                        
                            <input type="number" id="coverDim" name="coverDim" class="form-control"
                            value="{{ allData[4*i+j]['params']['coverDim'] }}" style="display: none;">
                            <input type="number" id="codeDim" name="codeDim" class="form-control"
                            value="{{ allData[4*i+j]['params']['codeDim'] }}" style="display: none;">
                            <input type="number" id="cornerTextSize" name="cornerTextSize" class="form-control"
                            value="{{ allData[4*i+j]['params']['cornerTextSize'] }}" style="display: none;">
                            <input type="number" id="artistSize" name="artistSize" class="form-control"
                            value="{{ allData[4*i+j]['params']['artistSize'] }}" style="display: none;">
                            <input type="number" id="titleSize" name="titleSize" class="form-control"
                            value="{{ allData[4*i+j]['params']['titleSize'] }}" style="display: none;">
                            <input type="number" id="trackSize" name="trackSize" class="form-control"
                            value="{{ allData[4*i+j]['params']['trackSize'] }}" style="display: none;">
                            <input type="number" id="maxLabelLength" name="maxLabelLength" class="form-control"
                            value="{{ allData[4*i+j]['params']['maxLabelLength'] }}" style="display: none;">
                            <input type="number" id="maxArtistsLength" name="maxArtistsLength" class="form-control"
                            value="{{ allData[4*i+j]['params']['maxArtistsLength'] }}" style="display: none;">
                            <input type="number" id="maxTitleLength" name="maxTitleLength" class="form-control"
                            value="{{ allData[4*i+j]['params']['maxTitleLength'] }}" style="display: none;">
                            <input type="number" id="maxTrackLinewidth" name="maxTrackLinewidth" class="form-control"
                            value="{{ allData[4*i+j]['params']['maxTrackLineWidth'] }}" style="display: none;">
                            <input type="number" id="trackLineSpace" name="trackLineSpace" class="form-control"
                            value="{{ allData[4*i+j]['params']['trackLineSpace'] }}" style="display: none;">
                            <input type="number" id="maxTracks" name="maxTracks" class="form-control"
                            value="{{ allData[4*i+j]['params']['maxTracks'] }}" style="display: none;">
                            <input type="number" id="sCodePos" name="sCodePos" class="form-control"
                            value="{{ allData[4*i+j]['params']['sCodePos'] }}" style="display: none;">
                            {% if allData[4*i+j]['params']['includeFullTitle'] == 1 %}
                            <input type="checkbox" id="includeFullTitle" name="includeFullTitle" class="form-control" style="display: none;" checked>
                            {% else %}
                            <input type="checkbox" id="includeFullTitle" name="includeFullTitle" class="form-control" style="display: none;">
                            {% endif %}
                            <img style="width: 65%;" 
                                src="{{ url_for('static', filename = 'PosterStorage/user'+current_user.id | string() + '/' + allData[4*i+j]['file']) }}" alt="" id="{{ allData[4*i+j]['file'] }}">
                            <br><br>
                            <button type="submit" class="btn btn-primary">Go to Generator</button>
                        </form>
                    </div>
                    {% endfor %}
                </div>
                <br>
                <br>
                {% endfor %}
            </div>
            {% endif %}
            <br>
        </div>

     </div>
 
     
 
     <!-- jQuery CDN - Slim version (=without AJAX)
     <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
         integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
         crossorigin="anonymous"></script> -->
     <!-- Popper.JS -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
         integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
         crossorigin="anonymous"></script>
     <!-- Bootstrap JS -->
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
         integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
         crossorigin="anonymous"></script>
     <!-- jQuery Custom Scroller CDN -->
     <script
         src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

 </body>
 
 </html>