<!DOCTYPE html>
 <html>
 
 <head>
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
 
     <title>Spotify Album Poster Generator</title>
 
     <!-- Bootstrap CSS CDN -->
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
         integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
         integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
 
     <!-- Our Custom CSS -->
     <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='home.css') }}">

     <!-- Scrollbar Custom CSS -->
     <link rel="stylesheet"
         href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     <!-- Font Awesome JS -->
     <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"
         integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ"
         crossorigin="anonymous"></script>
     <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"
         integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY"
         crossorigin="anonymous"></script>
    <!-- <script
         src="indexNoFirebase.js"
         type="module"
    ></script> -->
    <script src="{{ url_for('static', filename='index.js')}}"></script>
 

    <script>
        function JaroWrinker(s1, s2) {
            var m = 0;

            // Exit early if either are empty.
            if ( s1.length === 0 || s2.length === 0 ) {return 0;}

            // Exit early if they're an exact match.
            if ( s1 === s2 ) {return 1;}

            var range     = (Math.floor(Math.max(s1.length, s2.length) / 2)) - 1,
                s1Matches = new Array(s1.length),
                s2Matches = new Array(s2.length);

            for ( i = 0; i < s1.length; i++ ) {
                var low  = (i >= range) ? i - range : 0,
                    high = (i + range <= s2.length) ? (i + range) : (s2.length - 1);

                for ( j = low; j <= high; j++ ) {
                    if ( s1Matches[i] !== true && s2Matches[j] !== true && s1[i] === s2[j] ) {
                        ++m;
                        s1Matches[i] = s2Matches[j] = true;
                        break;
                    }
                }
            }

            // Exit early if no matches were found.
            if ( m === 0 ) {return 0;}

            // Count the transpositions.
            var k = n_trans = 0;

            for ( i = 0; i < s1.length; i++ ) {
                if ( s1Matches[i] === true ) {
                    for ( j = k; j < s2.length; j++ ) {
                        if ( s2Matches[j] === true ) {
                        k = j + 1;
                        break;
                        }
                    }

                    if ( s1[i] !== s2[j] ) {
                        ++n_trans;
                    }
                }
            }

            var weight = (m / s1.length + m / s2.length + (m - (n_trans / 2)) / m) / 3,
                l      = 0,
                p      = 0.1;

            if ( weight > 0.7 ) {
                while ( s1[l] === s2[l] && l < 4 ) {
                    ++l;
                }
                weight = weight + l * p * (1 - weight);
            }
            return weight;
        };
    </script>
    

 </head>
 
 <body>
     <div class="wrapper">

        {% include 'navbar.html' %}


        <div class="text-center" id="content">
            <div class="text-center">
                <h2>Spotify Album Poster Generator</h2>
            </div>
            <br>
            <script>
                function enableLoader() {
                    document.getElementById("loader").style.display = "block";
                }
            </script>
            <script>
                function reorderAlbums() {
                    var orderedAlbumNames = [];
                    let searchString = document.getElementById('search').value;
                    for (const name of {{ posterNames | list }}) {
                        let similarity = JaroWrinker(name, searchString);
                        let insertIndex = 0;
                        while (insertIndex < orderedAlbumNames.length && similarity < orderedAlbumNames[insertIndex][1]) {
                            insertIndex++;
                        }
                        orderedAlbumNames.splice(insertIndex, 0, [name, similarity])
                    }
                }
            </script>

            <!-- use jinja filters and pass one big array of json objects in from app.py to get this to work -->

            <div class="row">
                <div class="col-md-3 text-left">
                    <input type="text" id="search" placeholder="Album Search" class="form-control" onchange="reorderAlbums()"> 
                </div>
            </div>
            <br>
            {% if posterNames %}
            <!-- <table> -->
                <!-- <tbody> -->

                    {% for i in range(numRows) %}
                    <div class="row">
                        {% for j in range(numColumns[i]) %}
                        <div class="col-md-3 text-center">
                            <h5>{{ albumNames[4*i+j] }}</h5>
                            <form action="{{ url_for('urlSubmit') }}" method="post" enctype="multipart/form-data">
                                
                                <input type="text" id="url" name="SpotifyUrl" class="form-control"
                                value="{{ 'https://open.spotify.com/album/'+posterNames[4*i+j].replace('.png','')+'?' }}" style="display: none;">
                                
                                <!-- https://open.spotify.com/album/3SpBlxme9WbeQdI9kx7KAV?si=9gofoy4FS-6P6K3GtZdiow -->


                                <input type="number" id="1" name="coverDim" class="form-control"
                                value="{{ paramDict[posterNames[4*i+j]]['coverDim'] }}" style="display: none;">
                                <input type="number" id="2" name="codeDim" class="form-control"
                                value="{{ paramDict[posterNames[4*i+j]]['codeDim'] }}" style="display: none;">
                                <input type="number" id="3" name="cornerTextSize" class="form-control"
                                value="{{ paramDict[posterNames[4*i+j]]['cornerTextSize'] }}" style="display: none;">
                                <input type="number" id="4" name="artistSize" class="form-control"
                                value="{{ paramDict[posterNames[4*i+j]]['artistSize'] }}" style="display: none;">
                                <input type="number" id="5" name="titleSize" class="form-control"
                                value="{{ paramDict[posterNames[4*i+j]]['titleSize'] }}" style="display: none;">
                                <input type="number" id="6" name="trackSize" class="form-control"
                                value="{{ paramDict[posterNames[4*i+j]]['trackSize'] }}" style="display: none;">
                                <input type="number" id="7" name="maxLabelLength" class="form-control"
                                value="{{ paramDict[posterNames[4*i+j]]['maxLabelLength'] }}" style="display: none;">
                                <input type="number" id="8" name="maxArtistsLength" class="form-control"
                                value="{{ paramDict[posterNames[4*i+j]]['maxArtistsLength'] }}" style="display: none;">
                                <input type="number" id="9" name="maxTitleLength" class="form-control"
                                value="{{ paramDict[posterNames[4*i+j]]['maxTitleLength'] }}" style="display: none;">
                                <input type="number" id="10" name="maxTrackLinewidth" class="form-control"
                                value="{{ paramDict[posterNames[4*i+j]]['maxTrackLineWidth'] }}" style="display: none;">
                                <input type="number" id="11" name="trackLineSpace" class="form-control"
                                value="{{ paramDict[posterNames[4*i+j]]['trackLineSpace'] }}" style="display: none;">
                                <input type="number" id="12" name="maxTracks" class="form-control"
                                value="{{ paramDict[posterNames[4*i+j]]['maxTracks'] }}" style="display: none;">
                                <input type="number" id="13" name="sCodePos" class="form-control"
                                value="{{ paramDict[posterNames[4*i+j]]['sCodePos'] }}" style="display: none;">
                                {% if paramDict[posterNames[4*i+j]]['includeFullTitle'] == 1 %}
                                <input type="checkbox" id="14" name="includeFullTitle" class="form-control" style="display: none;" checked>
                                {% else %}
                                <input type="checkbox" id="14" name="includeFullTitle" class="form-control" style="display: none;">
                                {% endif %}
                                <img style="width: 65%;" 
                                    src="{{ url_for('static', filename = 'PosterStorage/user'+current_user.id | string() + '/' + posterNames[4*i + j]) }}" alt="">
                                <br><br>
                                <button type="submit" class="btn btn-primary">Go to Generator</button>
                            </form>
                            <!-- Album name and thumbnail -->
                            
                        </div>
                        {% endfor %}
                    </div>
                    <br>
                    <br>
                    {% endfor %}
                <!-- </tbody> -->
            <!-- </table> -->



            {% endif %}
            <br>
        </div>

     </div>
 
     
 
     <!-- jQuery CDN - Slim version (=without AJAX) -->
     <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
         integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
         crossorigin="anonymous"></script>
     <!-- Popper.JS -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
         integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
         crossorigin="anonymous"></script>
     <!-- Bootstrap JS -->
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
         integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
         crossorigin="anonymous"></script>
     <!-- jQuery Custom Scroller CDN -->
     <script
         src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

 </body>
 
 </html>